
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

footer{

    background-color: rgb(30, 93, 129);
    color: aliceblue;

    width: auto;
    height: 70px;
    
   text-align: center;
   
   
}


#whats {
   float: right;
   display: inline-block;
   
}

.logo-zap {
    
    size: 30px 30px;
}

#footer1 {
    padding-top: 20px;
    padding-bottom: 2px;
    margin-bottom: 5px;
}

#footer2 {
    padding-bottom: 20px;
    padding-top: 2px;
    margin-top: 0px;
}